{% load staticfiles %}

<!DOCTYPE HTML>
<html ng-app="AvalApp">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'scripts/css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'scripts/css/custom.css' %}">
        
    </head>
    <body>
        <div id="container">
            <div ng-app="InscricaoApp">
                <div id="wrapper">
                    <!--<div id="header">
                        <img src="/res/media/5000-brasao.jpg" /> <h3>Prefeitura Municipal de Joinville</h3>
                    </div>-->
                    <div id="content" ng-view>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'scripts/js/base/angular.min.js' %}"></script>
        <script src="{% static 'scripts/js/base/angular-route.min.js' %}"></script>
        <script src="{% static 'scripts/js/controllers/aval.js' %}"></script>
    </body>
</html>