{% extends "base.html" %}

{% block content %}
<div ng-controller="MainController as mainCtlr" class="main-box">
    <h2> Olá! Este é o processo de avaliação de candidatos </h2>
    <p> Informe seus dados para prosseguir. </p>
    <br>
    <div>
        <form class="form-horizontal" ng-submit="mainCtlr.senddata()">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputName" ng-model="mainCtlr.name" placeholder="Nome Completo">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="inputEmail" ng-model="mainCtlr.email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" value="Prosseguir" type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}